.App {
    display: grid;
    grid-template-columns: 400px auto;
  }
  
  .center {
    display: grid;
    grid-template-columns: 732px auto;
    padding: 12px;
  }
  
  .left-menu {
    background-color: darkkhaki;
    padding: 12px;
    height: 100vh;
  }
  
  .question-user {
    font-family: 'Prata', serif;
    font-size: 32px;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .question {
    font-family: 'Prata', serif;
    line-height: 1.1;
    font-size: 48px;
    padding-bottom: 24px;
  }
  
  .instructions {
    font-size: 24px;
  }
  
  .right-menu {
    background-color: darksalmon;
    padding: 12px;
  }
  
  .tiles {
    position: relative;
    height: fit-content;
    width: fit-content;
  }
  
  .tile {
    position: absolute;
    width: 220px;
    height: 220px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    font-family: 'Prata', serif;
    font-size: 24px;
    text-align: center;
  }
  
  .tile:nth-child(1) {
    top: 3px;
    left: 243px;
  }
  
  .tile:nth-child(2) {
    top: 243px;
    left: 123px;
  }
  
  .tile:nth-child(3) {
    top: 243px;
    left: 363px;
  }
  
  .tile:nth-child(4) {
    top: 483px;
    left: 3px;
  }
  
  .tile:nth-child(5) {
    top: 483px;
    left: 243px;
  }
  
  .tile:nth-child(6) {
    top: 483px;
    left: 483px;
  }
  
  .tile:nth-child(7) {
    top: 723px;
    left: 123px;
  }
  
  .tile:nth-child(8) {
    top: 723px;
    left: 363px;
  }
  
  .tile:nth-child(9) {
    top: 963px;
    left: 243px;
  }
  
  
  .tile.selected {
    border: solid red 2px;
  }
  
  .tile1, .note-1 {
    background-color: lightblue
  }
  
  .tile2, .note-2 {
    background-color: lightcoral;
  }
  
  .tile3, .note-3 {
    background-color: lightgreen;
  }
  
  .tile4, .note-4 {
    background-color: lightpink;
  }
  
  .tile5, .note-5 {
    background-color: lightseagreen;
  }
  
  .tile6, .note-6 {
    background-color: lightsteelblue;
  }
  
  .tile7, .note-7 {
    background-color: lightsalmon;
  }
  
  .tile8, .note-8 {
    background-color: lightgoldenrodyellow;
  }
  
  .tile9, .note-9 {
    background-color: lightskyblue;
  }
  
  .icon.eye {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 12px;
  }
  
  .notes-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  
  .menu-hidden {
    display: none;
  }
  
  .add-tile-note, .add-position-note {
    margin: 5px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .add-tile-note {
    border: solid black 1px;
  }
  
  .add-position-note {
    border: dashed black 1px;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .add-tile-note:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .add-position-note:hover {
    background-color: rgba(255, 255, 255, 0.6);;
  }
  
  .tile-note {
    padding: 22px;
    margin-top: 9px;
    margin-bottom: 9px;
    position: relative;
    border-radius: 3px;
  }
  
  .position-note {
    border: dashed black 1px
  }
  
  .icon.x.icon {
    position: absolute;
    right: 5px;
    top: 5px;
    color: rgba(0, 0, 0, 0.2);
  }
  
  .icon.x.icon:active {
    color: rgba(0, 0, 0, 0.4);
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .notes-test {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 300ms ease-out 0s 1 slideInFromRight;
  
  }
  
  .notes-title {
    font-family: 'Prata', serif;
    font-size: 24px;
    line-height: 1.75;
  }